{% extends "sights/base.html" %}
{% block title %}{{ landmark.name }}{% endblock %}
{% block content %}

<div id="templatemo_header_wrapper">
	<div id="templatemo_header">

       <div id="site_title">
            <h1><a href="index.html">
                <img src="../../static/css/images/templatemo_logo.png" alt="tripod blog" /></a>
                <span>free blog template</span>
            </h1>
        </div>

        <div id="templatemo_rss">
            {% if  request.user.first_name  %}
            <a href="../account/logout" target="_parent">{{request.user.first_name}}<br /><span>Выйти</span></a>
            {% else %}
            <a href="../account/login" target="_parent">Не авторизован<br /><span>Войти</span></a>
            {% endif %}
    	</div>

    </div> <!-- end of header -->

    <div id="templatemo_menu">

        <ul>
            <li><a href="index.html" class="current">Достопримечательности</a></li>
            <li><a href="contact.html">Contact Us</a></li>
        </ul>

    </div> <!-- end of templatemo_menu -->

</div> <!-- end of header wrapper -->



<div id="templatemo_main_wrapper">
<div id="templatemo_content_wrapper">


    <div id="templatemo_content">

        <div class="post_section"><span class="bottom"></span>

          <h2>{{ landmark.name }} </h2>

          <strong>Тип:</strong> {{ landmark.type|linebreaks }} | <strong>Адрес:</strong> {{ landmark.address}}

          <img src= "{{ image }}"  alt="image 1" />
        <!--../../static/css/images/templatemo_image_01.jpg-->
            <p>{{ landmark.information }}</p>

			<div class="cleaner"></div>
            Фото
            {% for img in images %}
            <img src= "{{ img }}"  alt="image 1" />
            {% endfor %}
            <div class="comment_tab">
              Комментариев {{comments.count}}
            </div>

          <div id="comment_section">
                <ol class="comments first_level">
                {% for comment in comments %}
                        <li>
                            <div class="comment_box commentbox1">

                                <div class="comment_text">
                                    <div class="comment_author">{{comment.author.name}}<span class="date">{{ comment.created }}</div>
                                  <p>{{ comment.body|linebreaks }} </p>
                                </div>
                                <div class="cleaner"></div>
                            </div>

                        </li>
                    {% empty %}
                  <p>There are no comments yet.</p>
                  {% endfor %}
                                </ol>
          </div>

          {% if new_comment %}
              <h2>Your comment has been added.</h2>
          {% elif comment_form %}
          <div id="comment_form">
                    <h3>Напишите комментарий</h3>

                    <form action="#" method="post">

                            {{ comment_form.as_p }}
                            {% csrf_token %}

                      <!--  <div class="form_row">
                            <label>Name ( Required )</label><br />
                            <input type="text" name="name" />
                        </div>
                        <div class="form_row">
                            <label>Email  ( Required, will not be published )</label><br />
                            <input type="text" name="name" />
                        </div>
                        <div class="form_row">
                            <label>Your comment</label><br />
                            <textarea  name="comment" rows="" cols=""></textarea>
                        </div>  -->

                        <input type="submit" name="Submit" value="Добавить" class="submit_btn" />
                    </form>

                </div>

            {% endif %}



    </div>







    </div> <!-- end of content wrapper -->
</div>
  {% endblock %}