{% extends "sights/base.html" %}
{% block title %} Добавление достопримечательности {% endblock %}
{% block content %}

<div id="templatemo_header_wrapper">
	<div id="templatemo_header">

       <div id="site_title">
            <h1><a href="index.html">
                <img src="../../static/css/images/templatemo_logo.png" alt="tripod blog" /></a>
                <span>free blog template</span>
            </h1>
        </div>

        <div id="templatemo_rss">
            {% if  request.user.first_name  %}
            <a href="../account/logout" target="_parent">{{request.user.first_name}}<br /><span>Выйти</span></a>
            {% else %}
            <a href="../account/login" target="_parent">Не авторизован<br /><span>Войти</span></a>
            {% endif %}
    	</div>

    </div> <!-- end of header -->

    <div id="templatemo_menu">

        <ul>
            <li><a href="index.html" class="current">Достопримечательности</a></li>
            <li><a href="contact.html">Contact Us</a></li>
        </ul>

    </div> <!-- end of templatemo_menu -->

</div> <!-- end of header wrapper -->





  <h1>Здесь вы можете предложить добавить новую достопримечательность на сайт</h1>

Hello {{ request.user.first_name }}

  {% if new_propose %}
    <h2>Your propose has been added.</h2>
  {% elif propose_form %}
    <h2>Add a new propose:</h2>
    <form action="." method="post" enctype="multipart/form-data">
      {{ propose_form.as_p }}
      {% csrf_token %}
      <p><input type="submit" value="Add propose"></p>
    </form>
    {% endif %}



{% endblock %}