{% extends "sights/base.html" %}
{% block title %}Sights{% endblock %}
{% block content %}

<div id="templatemo_header_wrapper">
	<div id="templatemo_header">

       <div id="site_title">
            <h1><a href="">
                <img src="../../static/css/images/templatemo_logo.png" alt="Воронеж" /></a>
                <span>Энциклопедия города</span>
            </h1>
        </div>

        <div id="templatemo_rss">
            <a href="../../account/logout" target="_parent">{{request.user.first_name}} (Администратор)<br /><span>Выйти</span></a>
    	</div>

    </div> <!-- end of header -->

    <div id="templatemo_menu">

        <ul>
            <li><a href="" class="current">Достопримечательности</a></li>
            {% if  request.user.first_name  %}
            <li><a href="propose">Добавить достопримечательность</a></li>
            {% endif %}
        </ul>

    </div> <!-- end of templatemo_menu -->

</div> <!-- end of header wrapper -->

<div id="templatemo_main_wrapper">
<div id="templatemo_content_wrapper">


    <div id="templatemo_content">
{% for landmark in landmarks %}

        <div class="post_section"><span class="bottom"></span>

            <h2><a href="{{ landmark.get_absolute_url }}">{{ landmark.name }}</a></h2>
            {% if landmark.image %}
			<a href="#"><img src= "{{ landmark.image.url }}"  alt="image 1" /></a>
            {% else %}
            <a href="#"><img src= ""  alt="image 1" /></a>
            {% endif %}
            <p>{{ landmark.information|truncatewords:30|linebreaks }}</p>

            </div>
  {% endfor %}
 {% include "pagination.html" with page=page_obj %}
    </div>


    </div> <!-- end of content wrapper -->
</div>
{% endblock %}
