{% extends "sights/base.html" %}
{% block title %} Добавление достопримечательности {% endblock %}
{% block content %}

<div id="templatemo_header_wrapper">
	<div id="templatemo_header">

       <div id="site_title">
            <h1><a href="../">
                <img src="../../static/css/images/templatemo_logo.png" alt="Воронеж" /></a>
                <span>Энциклопедия города</span>
            </h1>
        </div>

        <div id="templatemo_rss">
            {% if  request.user.first_name  %}
            <a href="../../account/logout" target="_parent">{{request.user.first_name}}<br /><span>Выйти</span></a>
            {% else %}
            <a href="../../account/login" target="_parent">Не авторизован<br /><span>Войти</span></a>
            {% endif %}
    	</div>

    </div> <!-- end of header -->

    <div id="templatemo_menu">

        <ul>
            <li><a href="../" class="current">Достопримечательности</a></li>
            <li><a href="">Добавить достопримечательность</a></li>
        </ul>

    </div> <!-- end of templatemo_menu -->

</div> <!-- end of header wrapper -->


<div id="templatemo_content_wrapper">

	<div id="templatemo_content_detail">

    	<h1>Contact Information</h1>

        <p> Здесь вы можете предложить добавить новую достопримечательность на сайт. Прочитать о том, как написать заявку, чтобы вашу достопримечательность добавили можно <a href="" rel="nofollow">здесь</a> </p>

            <div class="cleaner_h40"></div>

            <div id="contact_form">
                {% if new_propose %}
    <h2>Your propose has been added.</h2>
  {% elif propose_form %}
                <h2>Достопримечательность</h2>

                <form method="post" name="contact" action="." enctype="multipart/form-data">

                    {{ propose_form.as_p }}
                    {% csrf_token %}

                    <input style="font-weight: bold;" type="submit" class="submit_btn" name="submit" id="submit" value=" Добавить " />

                </form>
    {% endif %}
            </div>

    	<div class="cleaner"></div>

    </div> <!-- end of templatemo content -->
</div> <!-- end of content wrapper -->

{% endblock %}